.buttons-container{
    list-style: none;
    text-align: center;
    margin: 0 auto 1rem;
    max-width: 60%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.25rem;
    line-height: 1em;
}

.styled-buttons{
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 3px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    border-radius: .25em;
    background: rgb(221, 231, 240);
    box-shadow: 2px 2px 1px rgb(23, 76, 129);
    border: none;
}

.styled-buttons:hover{
    transform: scale(1.08);
    transition: transform 0.1s ease-in-out;
}