* {
  box-sizing: border-box;
}

body, #root {
  background-color: #75d184;
  /* background-color: #a0a0a0; */
  /* color: #fff; */
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
/* 
#root{
  width: 80%;
} */


h1 {
  margin: 10px 0 0 0;
}

@media only screen and (max-width:625px){
  
  h1{
    font-weight: bold;
    font-size: 25px ;
  }
  h2{
    font-weight: bold;
    font-size: 20px ;
  }
}

@media only screen and (max-width:490px){
  
  h1{
    font-weight: bold;
    font-size: 20px ;
  }
  h2{
    font-weight: bold;
    font-size: 15px ;
  }
}


@media only screen and (max-width:390px){
  
  h1{
    font-weight: bold;
    font-size: 15px ;
  }
  h2{
    font-weight: bold;
    font-size: 15px ;
  }
}

.hangman-container {
  padding: 0 30px;
  position: relative;
  margin: 10px auto;
  height: 100%;
  width: 60%;
}


@media only screen and (max-width:700px){
  
  .hangman-container {
  }
}

@media only screen and (max-width:630px){
  
  .hangman-container {
    /* display: flex; */
    width: 80%;
    margin: 0;
  }
}

.seperator{
  color: #fff;
  background-color: #fff;
  border-color: #fff;
  border-top: 1px solid white;
  width: 100%;
}




.notification {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -300px;
  left: auto;
  /* display: none; */
  color: white;
  transition: transform 0.3s ease-in-out;
}
@media only screen and (max-width:975px){
  .notification {
    width: 40%;
    left: auto

  }
}

@media only screen and (max-width:730px){
  .notification {
    width: 60%;

  }
}


@media only screen and (max-width:490px){
  .notification {
    width: 80%;

  }
}


@media only screen and (max-width:370px){
  .notification {
    width: 95%;

  }
}

.notification p {
  margin: 0;
}

.notification.show {
  /* display: inline-block; */
  transform: translateY(-300px);
}

@media only screen and (max-width:490px){
  .notification.show {
    /* display: inline-block; */
    transform: translateY(-300px);
  }
}